<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evertrend.tiger.user">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/yl_user_module_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/yl_common_AppTheme">
        
        <activity android:name="com.evertrend.tiger.user.activity.UserRegisterActivity">
        </activity>
        <activity android:name="com.evertrend.tiger.user.activity.UserLoginActivity">
        </activity>
        <activity android:name="com.evertrend.tiger.user.activity.UserPINLoginActivity">
        </activity>
    </application>
</manifest>
